/**************************************************/
/**************** Background Color ****************/
/**************** _background.scss ****************/

.bgcolor {
	&-white {background-color: #FFF;}
	&-black {background-color: #000;}
	&-grey {background-color: #999;}
	&-red {background-color: #F00;}
	&-orange {background-color: #F80;}
	&-yellow {background-color: #FF0;}
	&-green {background-color: #0F0;}
	&-blue {background-color: #00F;}
}

/************* end of _background.scss ************/
