/**************************************************/
/******************* Block Grid *******************/
/**************** _block-grid.scss ****************/

// Reference variables from _setting.scss

.block, .column, .columns {
	display: block;
	width: 100%;
	float: left;
}

img {
	&.block, &.column, &.columns {
		width: 100%;
	}
}

.row {
	@extend .clearfix;
	display: block;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	overflow: hidden;
}

@if $column {
	.column, .columns { // Output sample: .column-1
		@for $j from 1 to $total-columns + 1 {
			&-#{$j} {
				width: decimal-round(100% / $total-columns * $j, 5);
			}
		}
	}
}

@if $block {
	.block, .block-grid, .up { // Output example: .block-1
		@for $j from 1 to $total-blocks + 1 {
			&-#{$j} {
				> * {width: decimal-floor(100% / $j, 5);}
			}
		}
	}
}

.flex {
	@include flexbox(".column-1");
	float: left;
	> * {float: left;}

	@if $flex-align-responsive {
		&-align { // Output sample: .flex-align-top
			&-top {align-items: flex-start;}
			&-middle {align-items: center;}
			&-bottom {align-items: flex-end;}
			&-stretch {align-items: stretch;}
			&-left {
				justify-content: flex-start;
				&:after {
					content: none;
					flex: none;
					width: auto;
				}
			}
			&-center {
				justify-content: center;
				&:after {
					content: none;
					flex: none;
					width: auto;
				}
			}
			&-right {
				justify-content: flex-end;
				&:after {
					content: none;
					flex: none;
					width: auto;
				}
			}
			&-justify {
				justify-content: space-between;
				&:after {
					content: none;
					flex: none;
					width: auto;
				}
			}
		}
	}
}

/******************* Responsive *******************/

@each $current-breakpoint in $breakpoint-name {
	$i: index($breakpoint-name, $current-breakpoint);
	
	@media #{nth($breakpoint-name-up, $i)} {
		.#{$current-breakpoint} {
			
			@if $column-responsive {
				&-column, &-columns, & { // Output sample: .small-column-1
					@for $j from 1 to $total-columns + 1 {
						&-#{$j} {
							width: decimal-round(100% / $total-columns * $j, 5);
						}
					}
				}
			}

			@if $block-responsive {
				&-block, &-block-grid, &-up { // Output example: .small-block-1
					@for $j from 1 to $total-blocks + 1 {
						&-#{$j} {
							> * {width: decimal-floor(100% / $j, 5);}
						}
					}
				}
			}

			@if $flex-align-responsive {
				&-flex-align { // Output sample: .small-flex-align-top
					&-top {align-items: flex-start;}
					&-middle {align-items: center;}
					&-bottom {align-items: flex-end;}
					&-stretch {align-items: stretch;}
					&-left {
						justify-content: flex-start;
						&:after {
							content: none;
							flex: none;
							width: auto;
						}
					}
					&-center {
						justify-content: center;
						&:after {
							content: none;
							flex: none;
							width: auto;
						}
					}
					&-right {
						justify-content: flex-end;
						&:after {
							content: none;
							flex: none;
							width: auto;
						}
					}
					&-justify {
						justify-content: space-between;
						&:after {
							content: none;
							flex: none;
							width: auto;
						}
					}
				}
			}
		}
	}
}

/************* end of _block-grid.scss ************/