/**************************************************/
/********************* Border *********************/
/****************** _border.scss ******************/

// Reference variables from _setting.scss

$side: "top", "bottom", "left", "right", "v", "h"; 
$corner-side: "top", "bottom", "left", "right", "top-left", "top-right", "bottom-left", "bottom-right";

border { // Output sample: .border-solid
	&-solid {border-style: solid;}
	&-dotted {border-style: dotted;}
	&-dashed {border-style: dashed;}
}

@if $border {
	.border {
		// Output sample: .border-1px
		@each $var in $border-setting {
			$min-val: nth($var, 1);
			$max-val: nth($var, 2); 
			$unit: unit(nth($var, 1));
			$inc: null;
			@if nth($var, 3) == null {$inc: 1 + $unit;}
			@else {$inc: nth($var, 3);}

			@for $k from $min-val / $inc to $max-val / $inc + 1 {
				$val: $k * $inc;
				$name: null;
				@if unit($val) == "%" {$name: $val / 1% + pc;}
				@else {$name: $val;}
				&-#{$name} {border-width: $val;}
			}
		}

		// Output sample: .border-none
		&-none, &-0 {border-width: 0;}

		@each $current-side in $side {
			$j: index($side, $current-side);
			
			&-#{$current-side} {
				// Output sample: .border-top-1px
				@each $var in $border-setting {
					$min-val: nth($var, 1);
					$max-val: nth($var, 2);
					$unit: unit(nth($var, 1));
					$inc: null;
					@if nth($var, 3) == null {$inc: 1 + $unit;}
					@else {$inc: nth($var, 3);}

					@for $k from $min-val / $inc to $max-val / $inc + 1 {
						$val: $k * $inc;
						$name: null;
						@if unit($val) == "%" {$name: $val / 1% + pc;}
						@else {$name: $val;}
						&-#{$name} {
							@if $current-side == nth($side,5) {
								border-top-width: $val;
								border-bottom-width: $val;
							}
							@else if $current-side == nth($side,6) {
								border-left-width: $val;
								border-right-width: $val;
							}
							@else {border-#{$current-side}-width: $val;}
						}
					}
				}

				// Output sample: .border-top-none
				&-none {  
					@if $current-side == nth($side,5) {
						border-top-width: 0;
						border-bottom-width: 0;
					}
					@else if $current-side == nth($side,6) {
						border-left-width: 0;
						border-right-width: 0;
					}
					@else {border-#{$current-side}-width: 0;}
				}
			}
		}
	}
}

@if $rounded {
	.rounded {
		// Output sample: .rounded-1px
		@each $var in $rounded-setting {
			$min-val: nth($var, 1);
			$max-val: nth($var, 2);
			$unit: unit(nth($var, 1));
			$inc: null;
			@if nth($var, 3) == null {$inc: 1 + $unit;}
			@else {$inc: nth($var, 3);}

			@for $k from $min-val / $inc to $max-val / $inc + 1 {
				$val: $k * $inc;
				$name: null;
				@if unit($val) == "%" {$name: $val / 1% + pc;}
				@else {$name: $val;}
				&-#{$name} {
					@include border-radius($val);
				}
			}

			// Output sample: .rounded-none
			&-none, &-0 {
				@include border-radius(0);
			}

			@each $current-side in $corner-side {
				$j: index($side, $current-side);
				
				&-#{$current-side} {
					// Output sample: .rounded-top-1px, .rounded-top-left-1px
					@each $var in $rounded-setting {
						$min-val: nth($var, 1);
						$max-val: nth($var, 2);
						$unit: unit(nth($var, 1));
						$inc: null;
						@if nth($var, 3) == null {$inc: 1 + $unit;}
						@else {$inc: nth($var, 3);}

						@for $k from $min-val / $inc to $max-val / $inc + 1 {
							$val: $k * $inc;
							$name: null;
							@if unit($val) == "%" {$name: $val / 1% + pc;}
							@else {$name: $val;}
							&-#{$name} {
								@include border-radius($val, unquote($current-side));
							}
						}
					}

					// Output sample: .rounded-top-none
					&-none {  
						@include border-radius(0, unquote($current-side));
					}
				}
			}
		}	
	}
}

/******************* Responsive *******************/

@each $current-breakpoint in $breakpoint-name {
	$i: index($breakpoint-name, $current-breakpoint);

	@media #{nth($breakpoint-name-up, $i)} {
		.#{$current-breakpoint} {
			&-border { // Output sample: .small-border-solid
				&-solid {border-style: solid;}
				&-dotted {border-style: dotted;}
				&-dashed {border-style: dashed;}
			}

			@if $border-responsive {
				&-border {
					// Output sample: .small-border-1px
					@each $var in $border-setting {
						$min-val: nth($var, 1);
						$max-val: nth($var, 2);
						$unit: unit(nth($var, 1));
						$inc: null;
						@if nth($var, 3) == null {$inc: 1 + $unit;}
						@else {$inc: nth($var, 3);}

						@for $k from $min-val / $inc to $max-val / $inc + 1 {
							$val: $k * $inc;
							$name: null;
							@if unit($val) == "%" {$name: $val / 1% + pc;}
							@else {$name: $val;}
							&-#{$name} {border-width: $val;}
						}
					}
					
					// Output sample: .small-border-none
					&-none {border-width: 0;}

					
					@each $current-side in $side {
						$j: index($side, $current-side);
						
						&-#{$current-side} {
							// Output sample: .small-border-top-1px
							@each $var in $border-setting {
								$min-val: nth($var, 1);
								$max-val: nth($var, 2);
								$unit: unit(nth($var, 1));
								$inc: null;
								@if nth($var, 3) == null {$inc: 1 + $unit;}
								@else {$inc: nth($var, 3);}

								@for $k from $min-val / $inc to $max-val / $inc + 1 {
									$val: $k * $inc;
									$name: null;
									@if unit($val) == "%" {$name: $val / 1% + pc;}
									@else {$name: $val;}
									&-#{$name} {
										@if $current-side == nth($side,5) {
											border-top-width: $val;
											border-bottom-width: $val;
										}
										@else if $current-side == nth($side,6) {
											border-left-width: $val;
											border-right-width: $val;
										}
										@else {border-#{$current-side}-width: $val;}
									}
								}
							}

							// Output sample: .small-padding-top-none
							&-none {  
								@if $current-side == nth($side,5) {
									border-top-width: 0;
									border-bottom-width: 0;
								}
								@else if $current-side == nth($side,6) {
									border-left-width: 0;
									border-right-width: 0;
								}
								@else {border-#{$current-side}-width: 0;}
							}
						}
					}
				}
			}

			@if $rounded-responsive {
				&-rounded {
					// Output sample: .small-rounded-1px
					@each $var in $rounded-setting {
						$min-val: nth($var, 1);
						$max-val: nth($var, 2);
						$unit: unit(nth($var, 1));
						$inc: null;
						@if nth($var, 3) == null {$inc: 1 + $unit;}
						@else {$inc: nth($var, 3);}

						@for $k from $min-val / $inc to $max-val / $inc + 1 {
							$val: $k * $inc;
							$name: null;
							@if unit($val) == "%" {$name: $val / 1% + pc;}
							@else {$name: $val;}
							&-#{$name} {
								@include border-radius($val);
							}
						}

						// Output sample: .small-rounded-none
						&-none, &-0 {
							@include border-radius(0);
						}

						@each $current-side in $corner-side {
							$j: index($side, $current-side);
							
							&-#{$current-side} {
								// Output sample: .small-rounded-top-1px, .small-rounded-top-left-1px
								@each $var in $rounded-setting {
									$min-val: nth($var, 1);
									$max-val: nth($var, 2);
									$unit: unit(nth($var, 1));
									$inc: null;
									@if nth($var, 3) == null {$inc: 1 + $unit;}
									@else {$inc: nth($var, 3);}

									@for $k from $min-val / $inc to $max-val / $inc + 1 {
										$val: $k * $inc;
										$name: null;
										@if unit($val) == "%" {$name: $val / 1% + pc;}
										@else {$name: $val;}
										&-#{$name} {
											@include border-radius($val, unquote($current-side));
										}
									}
								}

								// Output sample: .rounded-top-none
								&-none {  
									@include border-radius(0, unquote($current-side));
								}
							}
						}
					}	
				}
			}
		}
	}
}

/*************** end of _border.scss **************/