/**************************************************/
/****************** Global Style ******************/
/****************** _global.scss ******************/

.clearfix {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {clear: both;}
}

/*************** end of _global.scss **************/