/**************************************************/
/**************** HTML5 Definition ****************/
/******************* _html5.scss ******************/

.html5 {
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	vertical-align: baseline;
	overflow: visible;
	display: block;
	width: auto;
	min-width: 0;
	max-width: none;
	height: auto;
	min-height: 0;
	max-height: none;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
	box-sizing: border-box;
	position: static;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
	z-index: auto;
	-ms-transform: none;
	-moz-transform: none;
	-webkit-transform: none;
	-o-transform: none;
	transform: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	&:before, &:after {
		content: none;
		font-size: 100%;
		font-weight: normal;
		font-style: normal;
		line-height: normal;
		vertical-align: baseline;
		overflow: visible;
		display: block;
		width: auto;
		min-width: 0;
		max-width: none;
		height: auto;
		min-height: 0;
		max-height: none;
		padding: 0;
		margin: 0;
		border: 0;
		border-radius: 0;
		box-sizing: border-box;
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;
		z-index: auto;
		-ms-transform: none;
		-moz-transform: none;
		-webkit-transform: none;
		-o-transform: none;
		transform: none;
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
}

/*************** end of _html5.scss ***************/