/**************************************************/
/******************* Font Style *******************/
/****************** _mixins.scss ******************/

@mixin font-size($size) {
	font-size: $size;
	font-size: #{$size / $rem-base}rem;
}

/**************************************************/
/***************** Linear Gradient ****************/
/****************** _mixins.scss ******************/

@mixin linear-gradient($deg, $color-start, $color-end) {
	background: $color-start;
	background: -webkit-linear-gradient($deg, $color-start, $color-end);
	background: -moz-linear-gradient($deg, $color-start, $color-end);
	background: -o-linear-gradient($deg, $color-start, $color-end);
	background: -ms-linear-gradient($deg, $color-start, $color-end);
	background: linear-gradient($deg, $color-start, $color-end);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color-start, endColorstr= $color-end,GradientType=0);
}

/**************************************************/
/***************** Rounded Corners ****************/
/****************** _mixins.scss ******************/

@mixin border-radius($radius: 0.5em, $side: all) {
	@if $side == all {
		-webkit-border-radius: $radius;
		-moz-border-radius: $radius;
		border-radius: $radius;
	}
	@if $side == top {
		-webkit-border-top-right-radius: $radius;
		-moz-border-top-right-radius: $radius;
		border-top-right-radius: $radius;
		-webkit-border-top-left-radius: $radius;
		-moz-border-top-left-radius: $radius;
		border-top-left-radius: $radius;
	}
	@if $side == right {
		-webkit-border-bottom-right-radius: $radius;
		-moz-border-bottom-right-radius: $radius;
		border-bottom-right-radius: $radius;
		-webkit-border-top-right-radius: $radius;
		-moz-border-top-right-radius: $radius;
		border-top-right-radius: $radius;
	}
	@if $side == bottom {
		-webkit-border-bottom-right-radius: $radius;
		-moz-border-bottom-right-radius: $radius;
		border-bottom-right-radius: $radius;
		-webkit-border-bottom-left-radius: $radius;
		-moz-border-bottom-left-radius: $radius;
		border-bottom-left-radius: $radius;
	}
	@if $side == left {
		-webkit-border-bottom-left-radius: $radius;
		-moz-border-bottom-left-radius: $radius;
		border-bottom-left-radius: $radius;
		-webkit-border-top-left-radius: $radius;
		-moz-border-top-left-radius: $radius;
		border-top-left-radius: $radius;
		background-clip: padding-box;
	}
	@if $side == top-left {
		-webkit-border-top-left-radius: $radius;
		-moz-border-top-left-radius: $radius;
		border-top-left-radius: $radius;
	}
	@if $side == top-right {
		-webkit-border-top-right-radius: $radius;
		-moz-border-top-right-radius: $radius;
		border-top-right-radius: $radius;
	}
	@if $side == bottom-left {
		-webkit-border-bottom-left-radius: $radius;
		-moz-border-bottom-left-radius: $radius;
		border-bottom-left-radius: $radius;
	}
	@if $side == bottom-right  {
		-webkit-border-bottom-right-radius: $radius;
		-moz-border-bottom-right-radius: $radius;
		border-bottom-right-radius: $radius;
	}
	@if $radius == 0 and $side == all {background-clip: border-box;}
	@else {background-clip: padding-box;}
}

@mixin border-top-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	-moz-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	-moz-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}

@mixin border-right-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	-moz-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	background-clip: padding-box;
}

@mixin border-bottom-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	background-clip: padding-box;
}

@mixin border-left-radius($radius) {
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	-moz-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}

@mixin border-top-left-radius($radius) {
	-webkit-border-top-left-radius: $radius;
	-moz-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}

@mixin border-top-right-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	-moz-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	background-clip: padding-box;
}

@mixin border-bottom-left-radius($radius) {
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	background-clip: padding-box;
}

@mixin border-bottom-right-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	background-clip: padding-box;
}

/**************************************************/
/******************* Box Shadow *******************/
/****************** _mixins.scss ******************/

@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}

/**************************************************/
/******************** Transform *******************/
/****************** _mixins.scss ******************/

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin rotate ($deg) {
	@include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
	@include transform(scale($scale));
}

@mixin translate($x, $y) {
	@include transform(translate($x, $y));
}

@mixin skew($x, $y) {
	@include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transform-origin($origin) {
	-moz-transform-origin: $origin;
	-o-transform-origin: $origin;
	-ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
	transform-origin: $origin;
}

/**************************************************/
/******************* Transition *******************/
/****************** _mixins.scss ******************/

@mixin transition($transition) {
	-moz-transition: $transition;
	-o-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}

@mixin transition-property($property) {
	-moz-transition-property: $property;
	-o-transition-property: $property;
	-webkit-transition-property: $property;
	transition-property: $property;
}

@mixin transition-duration($duration) {
	-moz-transition-property: $duration;
	-o-transition-property: $duration;
	-webkit-transition-property: $duration;
	transition-property: $duration;
}

@mixin transition-timing-function($timing) {
	-moz-transition-timing-function: $timing;
	-o-transition-timing-function: $timing;
	-webkit-transition-timing-function: $timing;
	transition-timing-function: $timing;
}

@mixin transition-delay($delay) {
	-moz-transition-delay: $delay;
	-o-transition-delay: $delay;
	-webkit-transition-delay: $delay;
	transition-delay: $delay;
}

/**************************************************/
/******************** Flex Box ********************/
/****************** _mixins.scss ******************/

@mixin flexbox($porps) {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	&:before, &::before {display: none;}
	&:after, &::after {
		content: "";
		flex: auto;
		@extend #{$porps};
	}
}

/**************************************************/
/****************** Place Holder ******************/
/****************** _mixins.scss ******************/

@mixin placeholder-color($color) {
	&::-webkit-input-placeholder {color: $color;}
	&:-moz-placeholder {color: $color;}
	&::-moz-placeholder {color: $color;}
	&:-ms-input-placeholder {color: $color;}
	&:-o-placeholder {color: $color;}
}

@mixin placeholder-opacity($opacity) {
	&::-webkit-input-placeholder {opacity: $opacity;}
	&:-moz-placeholder {opacity: $opacity;}
	&::-moz-placeholder {opacity: $opacity;}
	&:-ms-input-placeholder {opacity: $opacity;}
	&:-o-placeholder {opacity: $opacity;}
}

/*************** end of _mixins.scss **************/