/**************************************************/
/**************** Padding & Margin ****************/
/************** _padding-margin.scss **************/

// Reference variables from _setting.scss

$side: "top", "bottom", "left", "right", "v", "h";

@if $offset {
	.offset {
		&-none, &-0 {margin-left: 0;}

		// Output sample: .offset-1
		@for $j from 1 to $total-columns + 1 {
			&-#{$j} {margin-left: decimal-round(100% / $total-columns * $j, 5);}
		}
	}
}

@if $padding {
	.padding {
		// Output sample: .padding-1px
		@each $var in $padding-setting {
			$min-val: nth($var, 1);
			$max-val: nth($var, 2);
			$unit: unit(nth($var, 1));
			$inc: null;
			@if nth($var, 3) == null {$inc: 1 + $unit;}
			@else {$inc: nth($var, 3);}

			@for $k from $min-val / $inc to $max-val / $inc + 1 {
				$val: $k * $inc;
				$name: null;
				@if unit($val) == "%" {$name: $val / 1% + pc;}
				@else {$name: $val;}
				&-#{$name} {padding: $val;}
			}
		}
		
		// Output sample: .padding-none
		&-none {padding: 0;}

		
		@each $current-side in $side {
			$j: index($side, $current-side);
			
			&-#{$current-side} {
				// Output sample: .padding-top-1px
				@each $var in $padding-setting {
					$min-val: nth($var, 1);
					$max-val: nth($var, 2);
					$unit: unit(nth($var, 1));
					$inc: null;
					@if nth($var, 3) == null {$inc: 1 + $unit;}
					@else {$inc: nth($var, 3);}

					@for $k from $min-val / $inc to $max-val / $inc + 1 {
						$val: $k * $inc;
						$name: null;
						@if unit($val) == "%" {$name: $val / 1% + pc;}
						@else {$name: $val;}
						&-#{$name} {
							@if $current-side == nth($side,5) {
								padding-top: $val;
								padding-bottom: $val;
							}
							@else if $current-side == nth($side,6) {
								padding-left: $val;
								padding-right: $val;
							}
							@else {padding-#{$current-side}: $val;}
						}
					}
				}

				// Output sample: .padding-top-none
				&-none {  
					@if $current-side == nth($side,5) {
						padding-top: 0;
						padding-bottom: 0;
					}
					@else if $current-side == nth($side,6) {
						padding-left: 0;
						padding-right: 0;
					}
					@else {padding-#{$current-side}: 0;}
				}
			}
		}
	}
}

@if $margin {
	.margin {
		// Output sample: .margin-1px
		@each $var in $margin-setting {
			$min-val: nth($var, 1);
			$max-val: nth($var, 2);
			$unit: unit(nth($var, 1));
			$inc: null;
			@if nth($var, 3) == null {$inc: 1 + $unit;}
			@else {$inc: nth($var, 3);}

			@for $k from $min-val / $inc to $max-val / $inc + 1 {
				$val: $k * $inc;
				$name: null;
				@if unit($val) == "%" {$name: $val / 1% + pc;}
				@else {$name: $val;}
				&-#{$name} {margin: $val;}
			}
		}

		// Output sample: .margin-none
		&-none {margin: 0;}

		@each $current-side in $side {
			$j: index($side, $current-side);
			
			&-#{$current-side} {
				// Output sample: .margin-top-1px
				@each $var in $margin-setting {
					$min-val: nth($var, 1);
					$max-val: nth($var, 2);
					$unit: unit(nth($var, 1));
					$inc: null;
					@if nth($var, 3) == null {$inc: 1 + $unit;}
					@else {$inc: nth($var, 3);}

					@for $k from $min-val / $inc to $max-val / $inc + 1 {
						$val: $k * $inc;
						$name: null;
						@if unit($val) == "%" {$name: $val / 1% + pc;}
						@else {$name: $val;}
						&-#{$name} {
							@if $current-side == nth($side,5) {
								margin-top: $val;
								margin-bottom: $val;
							}
							@else if $current-side == nth($side,6) {
								margin-left: $val;
								margin-right: $val;
							}
							@else {margin-#{$current-side}: $val;}
						}
					}
				}

				// Output sample: .margin-top-none
				&-none {
					@if $current-side == nth($side,5) {
						margin-top: 0;
						margin-bottom: 0;
					}
					@else if $current-side == nth($side,6) {
						margin-left: 0;
						margin-right: 0;
					}
					@else {margin-#{$current-side}: 0;}
				}
			}
		}
	}
}

@if $space {
	.space, .spaces {
		// Output sample: .space-1px
		@each $var in $space-setting {
			$min-val: nth($var, 1);
			$max-val: nth($var, 2);
			$unit: unit(nth($var, 1));
			$inc: null;
			@if nth($var, 3) == null {$inc: 1 + $unit;}
			@else {$inc: nth($var, 3);}

			@for $k from $min-val / $inc to $max-val / $inc + 1 {
				$val: $k * $inc;
				$name: null;
				@if unit($val) == "%" {$name: $val / 1% + pc;}
				@else {$name: $val;}
				&-#{$name} {
					margin: -$val / 2;
					> * {padding: $val / 2;}
				}
			}
		}

		// Output sample: .space-none
		&-none { 
			margin: 0;
			> * {padding: 0;}
		}

		@each $current-side in $side {
			$j: index($side, $current-side);

			&-#{$current-side} {
				// Output sample: .space-top-1px
				@each $var in $space-setting {
					$min-val: nth($var, 1);
					$max-val: nth($var, 2);
					$unit: unit(nth($var, 1));
					$inc: null;
					@if nth($var, 3) == null {$inc: 1 + $unit;}
					@else {$inc: nth($var, 3);}

					@for $k from $min-val / $inc to $max-val / $inc + 1 {
						$val: $k * $inc;
						$name: null;
						@if unit($val) == "%" {$name: $val / 1% + pc;}
						@else {$name: $val;}
						
						&-#{$name} {
							@if $current-side == nth($side,5) {
								margin-top: -$val / 2;
								margin-bottom: -$val / 2;
							}
							@else if $current-side == nth($side,6) {
								margin-left: -$val / 2;
								margin-right: -$val / 2;
							}
							@else {margin-#{$current-side}: -$val;}
							> * {
								@if $current-side == nth($side,5) {
									padding-top: $val / 2;
									padding-bottom: $val / 2;
								}
								@else if $current-side == nth($side,6) {
									padding-left: $val / 2;
									padding-right: $val / 2;
								}
								@else {padding-#{$current-side}: $val;}
							}
						}
					}
				}

				// Output sample: .space-top-none
				&-none {
					@if $current-side == nth($side,5) {
						margin-top: 0;
						margin-bottom: 0;
					}
					@else if $current-side == nth($side,6) {
						margin-left: 0;
						margin-right: 0;
					}
					@else {margin-#{$current-side}: 0;}
					> * {
						@if $current-side == nth($side,5) {
							padding-top: 0;
							padding-bottom: 0;
						}
						@else if $current-side == nth($side,6) {
							padding-left: 0;
							padding-right: 0;
						}
						@else {padding-#{$current-side}: 0;}
					}
				}
			}	
		}
	}
}

/******************* Responsive *******************/

@each $current-breakpoint in $breakpoint-name {
	$i: index($breakpoint-name, $current-breakpoint);

	@media #{nth($breakpoint-name-up, $i)} {
		.#{$current-breakpoint} {

			@if $offset-responsive {
				&-offset {
					&-none, &-0 {margin-left: 0;}

					// Output sample: .small-offset-1
					@for $j from 1 to $total-columns + 1 {
						&-#{$j} {margin-left: decimal-round(100% / $total-columns * $j, 5);}
					}
				}
			}
			
			@if $padding-responsive {
				&-padding {
					// Output sample: .small-padding-1px
					@each $var in $padding-setting {
						$min-val: nth($var, 1);
						$max-val: nth($var, 2);
						$unit: unit(nth($var, 1));
						$inc: null;
						@if nth($var, 3) == null {$inc: 1 + $unit;}
						@else {$inc: nth($var, 3);}

						@for $k from $min-val / $inc to $max-val / $inc + 1 {
							$val: $k * $inc;
							$name: null;
							@if unit($val) == "%" {$name: $val / 1% + pc;}
							@else {$name: $val;}
							&-#{$name} {padding: $val;}
						}
					}
					
					// Output sample: .small-padding-none
					&-none {padding: 0;}

					
					@each $current-side in $side {
						$j: index($side, $current-side);
						
						&-#{$current-side} {
							// Output sample: .small-padding-top-1px
							@each $var in $padding-setting {
								$min-val: nth($var, 1);
								$max-val: nth($var, 2);
								$unit: unit(nth($var, 1));
								$inc: null;
								@if nth($var, 3) == null {$inc: 1 + $unit;}
								@else {$inc: nth($var, 3);}

								@for $k from $min-val / $inc to $max-val / $inc + 1 {
									$val: $k * $inc;
									$name: null;
									@if unit($val) == "%" {$name: $val / 1% + pc;}
									@else {$name: $val;}
									&-#{$name} {
										@if $current-side == nth($side,5) {
											padding-top: $val;
											padding-bottom: $val;
										}
										@else if $current-side == nth($side,6) {
											padding-left: $val;
											padding-right: $val;
										}
										@else {padding-#{$current-side}: $val;}
									}
								}
							}

							// Output sample: .small-padding-top-none
							&-none {  
								@if $current-side == nth($side,5) {
									padding-top: 0;
									padding-bottom: 0;
								}
								@else if $current-side == nth($side,6) {
									padding-left: 0;
									padding-right: 0;
								}
								@else {padding-#{$current-side}: 0;}
							}
						}
					}
				}
			}

			@if $margin-responsive {
				&-margin {
					// Output sample: .small-margin-1px
					@each $var in $margin-setting {
						$min-val: nth($var, 1);
						$max-val: nth($var, 2);
						$unit: unit(nth($var, 1));
						$inc: null;
						@if nth($var, 3) == null {$inc: 1 + $unit;}
						@else {$inc: nth($var, 3);}

						@for $k from $min-val / $inc to $max-val / $inc + 1 {
							$val: $k * $inc;
							$name: null;
							@if unit($val) == "%" {$name: $val / 1% + pc;}
							@else {$name: $val;}
							&-#{$name} {margin: $val;}
						}
					}

					// Output sample: .small-margin-none
					&-none {margin: 0;}

					@each $current-side in $side {
						$j: index($side, $current-side);
						
						&-#{$current-side} {
							// Output sample: .small-margin-top-1px
							@each $var in $margin-setting {
								$min-val: nth($var, 1);
								$max-val: nth($var, 2);
								$unit: unit(nth($var, 1));
								$inc: null;
								@if nth($var, 3) == null {$inc: 1 + $unit;}
								@else {$inc: nth($var, 3);}

								@for $k from $min-val / $inc to $max-val / $inc + 1 {
									$val: $k * $inc;
									$name: null;
									@if unit($val) == "%" {$name: $val / 1% + pc;}
									@else {$name: $val;}
									&-#{$name} {
										@if $current-side == nth($side,5) {
											margin-top: $val;
											margin-bottom: $val;
										}
										@else if $current-side == nth($side,6) {
											margin-left: $val;
											margin-right: $val;
										}
										@else {margin-#{$current-side}: $val;}
									}
								}
							}

							// Output sample: .small-margin-top-none
							&-none {
								@if $current-side == nth($side,5) {
									margin-top: 0;
									margin-bottom: 0;
								}
								@else if $current-side == nth($side,6) {
									margin-left: 0;
									margin-right: 0;
								}
								@else {margin-#{$current-side}: 0;}
							}
						}
					}
				}
			}

			@if $space-responsive {
				&-space, .spaces {
					// Output sample: .small-space-1px
					@each $var in $space-setting {
						$min-val: nth($var, 1);
						$max-val: nth($var, 2);
						$unit: unit(nth($var, 1));
						$inc: null;
						@if nth($var, 3) == null {$inc: 1 + $unit;}
						@else {$inc: nth($var, 3);}

						@for $k from $min-val / $inc to $max-val / $inc + 1 {
							$val: $k * $inc;
							$name: null;
							@if unit($val) == "%" {$name: $val / 1% + pc;}
							@else {$name: $val;}
							&-#{$name} {
								margin: -$val / 2;
								> * {padding: $val / 2;}
							}
						}
					}

					// Output sample: .small-space-none
					&-none { 
						margin: 0;
						> * {padding: 0;}
					}

					@each $current-side in $side {
						$j: index($side, $current-side);

						&-#{$current-side} {
							// Output sample: .small-space-top-1px
							@each $var in $space-setting {
								$min-val: nth($var, 1);
								$max-val: nth($var, 2);
								$unit: unit(nth($var, 1));
								$inc: null;
								@if nth($var, 3) == null {$inc: 1 + $unit;}
								@else {$inc: nth($var, 3);}

								@for $k from $min-val / $inc to $max-val / $inc + 1 {
									$val: $k * $inc;
									$name: null;
									@if unit($val) == "%" {$name: $val / 1% + pc;}
									@else {$name: $val;}
									
									&-#{$name} {
										@if $current-side == nth($side,5) {
											margin-top: -$val / 2;
											margin-bottom: -$val / 2;
										}
										@else if $current-side == nth($side,6) {
											margin-left: -$val / 2;
											margin-right: -$val / 2;
										}
										@else {margin-#{$current-side}: -$val;}
										> * {
											@if $current-side == nth($side,5) {
												padding-top: $val / 2;
												padding-bottom: $val / 2;
											}
											@else if $current-side == nth($side,6) {
												padding-left: $val / 2;
												padding-right: $val / 2;
											}
											@else {padding-#{$current-side}: $val;}
										}
									}
								}
							}

							// Output sample: .small-space-top-none
							&-none {
								@if $current-side == nth($side,5) {
									margin-top: 0;
									margin-bottom: 0;
								}
								@else if $current-side == nth($side,6) {
									margin-left: 0;
									margin-right: 0;
								}
								@else {margin-#{$current-side}: 0;}
								> * {
									@if $current-side == nth($side,5) {
										padding-top: 0;
										padding-bottom: 0;
									}
									@else if $current-side == nth($side,6) {
										padding-left: 0;
										padding-right: 0;
									}
									@else {padding-#{$current-side}: 0;}
								}
							}
						}	
					}
				}
			}
		}
	}
}

/*********** end of _padding-margin.scss **********/