/**************************************************/
/********************* Reset **********************/
/****************** _reset.scss *******************/

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	vertical-align: baseline;
	overflow: visible;
	display: block;
	width: auto;
	min-width: 0;
	max-width: none;
	height: auto;
	min-height: 0;
	max-height: none;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
	box-sizing: border-box;
	position: static;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
	z-index: auto;
	-ms-transform: none;
	-moz-transform: none;
	-webkit-transform: none;
	-o-transform: none;
	transform: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	&:before, &:after {
		content: none;
		font-size: 100%;
		font-weight: normal;
		font-style: normal;
		line-height: normal;
		vertical-align: baseline;
		overflow: visible;
		display: block;
		width: auto;
		min-width: 0;
		max-width: none;
		height: auto;
		min-height: 0;
		max-height: none;
		padding: 0;
		margin: 0;
		border: 0;
		border-radius: 0;
		box-sizing: border-box;
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;
		z-index: auto;
		-ms-transform: none;
		-moz-transform: none;
		-webkit-transform: none;
		-o-transform: none;
		transform: none;
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
}

/* Block Element */
div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
dl, dt, dd, ol, ul, li, fieldset, form, legend,
table, caption, embed, output, ruby, summary, video {
	display: block;
}


span, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, label, time, mark, canvas, audio {
	display: inline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
}
thead, tbody, tfoot, tr {
	display: table-row;	
}
td {
	display: table-cell;
}

/*************** end of _reset.scss ***************/