/**************************************************/
/********************* Setting ********************/
/***************** _settings.scss *****************/

$rem-base:					16px; // Default REM size

// Font size
$font-size:					ture; // Generate font size class
$font-size-responsive:		true; // Generate responsive font size class
$font-size-setting:			(8px, 30px, 2px),; // (Minimum size / Maxmium size / Increase)

// Line height
$line-height:				true; // Generate line height class
$line-height-responsive:	true; // Generate responsive line height class
$line-height-setting:		(12px, 40px, 2px),; // (Minimum size / Maxmium size / Increase)

// Column for grid
$column:					true; // Generate column class
$column-responsive:			true; // Generate responsive column class
$total-columns:				24; // Totle of columns in line

// Average block width for grid
$block:						true; // Generate block class
$block-responsive:			true; // Generate responsive block class
$total-blocks:				24; // Totle of blocks in line

// Flex Box's align for grid
$flex-align:				true; // Generate flex align class
$flex-align-responsive:		true; // Generate flex align responsive class

// Offset for columns
$offset:					true; // Generate offset class
$offset-responsive:			true; // Generate responsive offset class

// Padding for any
$padding:					true; // Generate padding class
$padding-responsive:		true; // Generate responsive padding class
$padding-setting:			(1px, 30px, 1px),; // (Minimum size / Maxmium size / Increase)

// Margin for any
$margin:					true; // Generate margin class
$margin-responsive:			true; // Generate responsive margin class
$margin-setting:			(1px, 30px, 1px),; // (Minimum size / Maxmium size / Increase)

// Average space between column & column
$space:						true; // Generate space class
$space-responsive:			true; // Generate responsive space class
$space-setting:				(1px, 30px, 1px),; // (Minimum size / Maxmium size / Increase)

// Border for column
$border:					true; // Generate border class
$border-responsive:			true; // Generate responsive border class
$border-setting:			(1px, 30px, 1px),; // (Minimum size / Maxmium size / Increase)

// Rounded corner for column
$rounded:					true; // Generate border class
$rounded-responsive:		true; // Generate responsive border class
$rounded-setting:			(1px, 20px, 1px),; // (Minimum size / Maxmium size / Increase)

/**************************************************/
/******************* Breakpoint *******************/
/***************** _settings.scss *****************/

$small-breakpoint:  	em-calc(320);
$medium-breakpoint: 	em-calc(600);
$large-breakpoint:  	em-calc(768);
$xlarge-breakpoint: 	em-calc(960);
$xxlarge-breakpoint:	em-calc(1280);

$small-range:	(0, $medium-breakpoint - em-calc(1));
$medium-range: 	($medium-breakpoint, $large-breakpoint - em-calc(1));
$large-range:	($large-breakpoint, $xlarge-breakpoint - em-calc(1));
$xlarge-range:	($xlarge-breakpoint, $xlarge-breakpoint - em-calc(1));
$xxlarge-range:	($xxlarge-breakpoint, em-calc(999999999));

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-up:		$screen;
$medium-up:		"#{$screen} and (min-width:#{lower-bound($medium-range)})";
$large-up:		"#{$screen} and (min-width:#{lower-bound($large-range)})";
$xlarge-up:		"#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xxlarge-up:	"#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";

$small-only:	"#{$screen} and (max-width: #{upper-bound($small-range)})";
$medium-only:	"#{$screen} and (max-width: #{upper-bound($medium-range)})";
$large-only:	"#{$screen} and (max-width: #{upper-bound($large-range)})";
$xlarge-only:	"#{$screen} and (max-width: #{upper-bound($xlarge-range)})";
$xxlarge-only:	"#{$screen} and (max-width: #{upper-bound($xxlarge-range)})";

$breakpoint-name:		"small", "medium", "large", "xlarge", "xxlarge"; // Breakpoint name for looping use
$breakpoint-name-up:	"#{$small-up}", "#{$medium-up}", "#{$large-up}", "#{$xlarge-up}", "#{$xxlarge-up}"; // Breakpoint name for looping use
$breakpoint-name-only:	"#{$small-only}", "#{$medium-only}", "#{$large-only}", "#{$xlarge-only}", "#{$xxlarge-only}"; // Breakpoint name for looping use

/************** end of _settings.scss *************/