/**************************************************/
/******************* Text Style *******************/
/**************** _text-style.scss ****************/

// Reference in variables in _setting.scss

.font { // Font family
	&-serif {font-family: serif;}
	&-sans {font-family: sans-serif;}
}

.bold {font-weight: bold;}

.italic {font-style: italic;}

.text { // Output sample: .text-align-left;
	&-left {text-align: left;}
	&-center {text-align: center;}
	&-right {text-align: right;}
	&-justify{text-align: justify;}
}

.color {
	&-white {color: #FFF;}
	&-black {color: #000;}
	&-grey {color: #999;}
	&-red {color: #F00;}
	&-orange {color: #F80;}
	&-yellow {color: #FF0;}
	&-green {color: #0F0;}
	&-blue {color: #00F;}
}

@if $font-size {	
	.font-size {
		// Output sample: .font-size-8px
		@each $var in $font-size-setting {
			$min-val: nth($var, 1);
			$max-val: nth($var, 2);
			$unit: unit(nth($var, 1));
			$inc: null;
			@if nth($var, 3) == null {$inc: 1 + $unit;}
			@else {$inc: nth($var, 3);}

			@for $k from $min-val / $inc to $max-val / $inc + 1 {
				$val: $k * $inc;
				$name: null;
				@if unit($val) == "%" {$name: $val / 1% + pc;}
				@else {$name: $val;}
				&-#{$name} {font-size: $val;}
			}
		}
	}
}

@if $line-height {
	.line-height {
		@each $var in $line-height-setting {
			$min-val: nth($var, 1);
			$max-val: nth($var, 2);
			$unit: unit(nth($var, 1));
			$inc: null;
			@if nth($var, 3) == null {$inc: 1 + $unit;}
			@else {$inc: nth($var, 3);}

			@for $k from $min-val / $inc to $max-val / $inc + 1 {
				$val: $k * $inc;
				$name: null;
				@if unit($val) == "%" {$name: $val / 1% + pc;}
				@else {$name: $val;}
				&-#{$name} {line-height: $val;}
			}
		}
	}
}

/******************* Responsive *******************/

@each $current-breakpoint in $breakpoint-name {
	$i: index($breakpoint-name, $current-breakpoint);
	
	@media #{nth($breakpoint-name-up, $i)} {
		.#{$current-breakpoint} {

			&-bold {font-weight: bold;} // Output sample: .small-bold;

			&-italic {font-style: italic;} // Output sample: .small-italic;

			&-text-align { // Output sample: .small-text-align-left;
				&-left {text-align: left;}
				&-center {text-align: center;}
				&-right {text-align: right;}
				&-justify{text-align: justify;}
			}

			@if $font-size-responsive {
				&-font-size {
					// Output sample: .small-font-size-8px
					@each $var in $font-size-setting {
						$min-val: nth($var, 1);
						$max-val: nth($var, 2);
						$unit: unit(nth($var, 1));
						$inc: null;
						@if nth($var, 3) == null {$inc: 1 + $unit;}
						@else {$inc: nth($var, 3);}

						@for $k from $min-val / $inc to $max-val / $inc + 1 {
							$val: $k * $inc;
							$name: null;
							@if unit($val) == "%" {$name: $val / 1% + pc;}
							@else {$name: $val;}
							&-#{$name} {font-size: $val;}
						}
					}
				}
			}

			@if $line-height-responsive {
				&-line-height {
					// Output sample: .small-line-height-8px;
					@each $var in $line-height-setting {
						$min-val: nth($var, 1);
						$max-val: nth($var, 2);
						$unit: unit(nth($var, 1));
						$inc: null;
						@if nth($var, 3) == null {$inc: 1 + $unit;}
						@else {$inc: nth($var, 3);}

						@for $k from $min-val / $inc to $max-val / $inc + 1 {
							$val: $k * $inc;
							$name: null;
							@if unit($val) == "%" {$name: $val / 1% + pc;}
							@else {$name: $val;}
							&-#{$name} {line-height: $val;}
						}
					}
				}
			}
		}
	}
}

/************* end of _text-style.scss ************/