@import "_functions";
@import "_decimal";
@import "_settings";
@import "_mixins";
@import "_reset";
@import "_normalize";
@import "_html5";
@import "_global";
@import "_block-grid";
@import "_padding-margin";
@import "_border";
@import "_listing";
@import "_hide-show";
@import "_text-style";
@import "_background";

//@import "_cmsContent";

// Grid Test
.gridTest {
	@extend .row, .margin-h-10px;
	word-break: break-all;
	> header, > footer, > section {
		@extend .row;
	}
	> section:nth-child(2) {
		@extend .flex, .xlarge-space-h-10px;
		> section {
			@extend .block, .small-24;
			&:first-child {
				@extend .xlarge-16, .bgcolor-blue;
			}
			&:last-child {
				@extend .xlarge-8, .small-margin-top-10px, .xlarge-margin-top-none, .bgcolor-green;
			}
			> section.flex {
				@extend .block-1-2-2-2-2, .space-10px;
				> article {
					@extend .flex;
					> header {
						@extend .block, .small-24, .large-12, .bgcolor-red;
						> img {
							@extend .block;
						}
					}
					> section {
						@extend .block, .small-24, .large-12, .padding-5px, .bgcolor-red;
					}
				}
			}
			> section.row {
				@extend .block-1-2-2-1-1, .space-10px;
				> article {
					@extend .flex;
					> header {
						@extend .block, .small-24, .large-12, .bgcolor-red;
						> img {
							@extend .block;
						}
					}
					> section {
						@extend .block, .small-24, .large-12, .padding-5px, .bgcolor-red;
					}
				}
			}
		}
	}
	> section:nth-child(3) {
		> section {
			@extend .block, .margin-top-10px, .bgcolor-yellow;
			> section.flex {
				@extend .space-10px, .block-1-2-2-3-4;
				> article {
					@extend .flex;
					> header {
						@extend .block, .small-24, .large-12, .bgcolor-red;
						> img {
							@extend .block;
						}
					}
					> section {
						@extend .block, .small-24, .large-12, .padding-5px, .bgcolor-red;
					}
				}
			}
		}
	}
}

// CMS HTML5 markup
.cmsContent {
	@extend .font-sans, .font-size-16px; 
	h2, header2 {
		@extend .row, .font-size-30px, .line-height-40px, .bold, .margin-v-10px;
	}
	h3, header3 {
		@extend .row, .font-size-24px, .line-height-40px, .bold, .margin-v-10px;
	}
	blockquote {
		@extend .row, .italic, .line-height-20px, .padding-v-10px, .padding-h-20px, .border-left-5px, .margin-v-16px;
	}
	ul {
		@extend .row, .margin-v-16px;

		li {}
	}
	ol {

		li {}
	}
	code {
		@extend .font-size-16px, .padding-15px, .bgcolor-grey;
	}
	bold {}
	italic {}
	underline {}
	monospace {}
	image {}
}

// MPU Test
.mpuTest {
	@extend .margin-h-10px;
	figure {
		@extend .html5;
	}
	> section {
		@extend .row;
		> section {
			@extend .row, .space-10px, .bgcolor-yellow;
			> article {
				@extend .flex, .column-8;
				height: 255px;
				&:first-child {
					@extend .column-16;
					> header {@extend .column-12, .bgcolor-red;
						> figure {@extend .row;
							> img {@extend .block;}
						}
					}
					> section {@extend .column-12;}
				}
				> section {
					@extend .column-24, .padding-5px, .bgcolor-red;
					height: 100%;
				}
			}
			> aside {
				@extend .block, .column-8;
				> figure {
					@extend .row, .bgcolor-blue;
					max-width: 300px;
					> img {
						@extend .block;
						//width: 300px;
						//height: 300px;
					}
				}
			}
		}
	}
}

@element ".mpuTest > section > section > aside:nth-child(2)" and (min-height: 350px) {
	.mpuTest {
		> section {
			> section {
				> aside:nth-child(2) {
					+ article, + article + article {
						margin-top: -305px;
					}
					+ article + article {
						margin-left: 33.33333%;
					}
				}
				> :last-child {
					display: none;
				}
			}
		}
	}
}

// Compound Class
.block-1-2-2-2-2 {
	@extend .small-block-1, .medium-block-2;
	> * {
		&:nth-child(2n+1):last-child {
			@extend .medium-offset-6;
		}
	}
}

.block-1-2-2-1-1 {
	@extend .small-block-1, .medium-block-2, .xlarge-block-1;
	> * {
		&:nth-child(2n+1):last-child {
			@extend .medium-offset-6, .xlarge-offset-0;
		}
	}
}

.block-1-2-2-3-4 {
	@extend .small-block-1, .medium-block-2, .xlarge-block-3, .xxlarge-block-4;
	> * {
		&:nth-child(2n+1):last-child {
			@extend .medium-offset-6, .xlarge-offset-0;
		}
		&:nth-child(3n+1):last-child {
			@extend .xlarge-offset-8, .xxlarge-offset-0;
		}
		&:nth-child(3n+1):nth-last-child(2) {
			@extend .xlarge-offset-4, .xxlarge-offset-0;
		}
		&:nth-child(4n+1):last-child {
			@extend .xxlarge-offset-9;
		}
		&:nth-child(4n+1):nth-last-child(2) {
			@extend .xxlarge-offset-6;
		}
		&:nth-child(4n+1):nth-last-child(3) {
			@extend .xxlarge-offset-3;
		}
	}
}

